@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "rockSalt";
  src: url("/assets/fonts/rock-salt/RockSalt.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "miloner";
  src: url("/assets/fonts/miloner/MILONER-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "colitez";
  src: url("/assets/fonts/colitez-serif/ColitezSerif-Italic.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hover-label::after {
  content: "Hold to view";
}

@media (hover: hover) and (pointer: fine) {
  .hover-label::after {
    content: "Hover";
  }
}